.layout_board_demo {
  // .border_board_blue {
  //   table {
  //     thead {
  //       th:first-child {
  //         border-left-color: #569AFC;
  //       }
  //     }
  //   }
  // }

  .border_board_green {


    table {
      border-left-color: #00C875;



      tbody {
        tr {}
      }
    }
  }

  table {
    border-left: 8px solid #569AFC;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    .ant-table-thead {
      th {
        background-color: transparent;
        padding: 10px 40px;
        border-right: 1px solid #d0d4e4;
        border-top: 1px solid #d0d4e4
      }

      th:first-child {
        padding-left: 20px;
        border-start-start-radius: 0px !important;
      }

      th:last-child {
        width: 40px;
        border-start-end-radius: 0 !important;
      }
    }

    .ant-table-tbody {
      td {
        text-align: center;
        padding: 5px 10px;
        border-right: 1px solid #d0d4e4;
      }

      td:first-child {
        padding-left: 20px;

        text-align: left;

      }

      tr:last-child {


        td {
          border-bottom: 1px solid #d0d4e4;
        }
      }
    }
  }
}