.board_demo_table {
  .ant-table-content {
    overflow-x: scroll;

    thead {
      th {
        text-align: center;
        width: max-content;
        min-width: 200px;

        &:first-child {
          min-width: 170px;
        }
      }

    }

    tbody {
      tr:first-child {
        // td:nth-child(2) {
        //   background-color: orange;
        //   color: white;
        // }
      }

      tr:nth-child(2) {
        // td:nth-child(2) {
        //   background-color: blue;
        //   color: white;
        // }
      }


    }

    tr.ant-table-row-level-0:hover>td {
      background-color: unset !important;
    }

    .ant-table-row {
      pointer-events: none;


    }

    td.ant-table-cell {
      position: relative;
    }

    .ant-table-placeholder {
      display: none;
    }
  }

  .table_footer {
    padding: 8px 15px;
    color: #676879;
    opacity: 0.6;
  }
}